@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

table{
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    justify-self: center;
    border-radius: 10px;
    color: #0B1D51;
    filter: drop-shadow(1px 10px 10px rgb(109, 97, 97));
}
th,
td{
    padding: 8px;
    text-align: center;
    background-image: url('https://www.transparenttextures.com/patterns/white-wall-3.png');
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid black;
}
th{
    border-radius: 5px;
    border: 1px solid black;
}


.favorite-toggle {
    cursor: pointer;
}


.container{
    height: 100vh;
    background: url('../assets//bg.png');
    background-size: cover;

}
.removeFav{
    padding: 2px 30px;
    border-radius: 7px;
    border: none;
    background-color: #ff6b6b;
    color: #fefefe;
    font-weight: 600;
}